.git
.gitignore
README.md
# OS X
.DS_Store
.AppleDouble
.LSOverride
# Logs
logs
*.log
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
package-lock.json
# CI
.travis.yml
docker-compose.yml
*.sh
CHANGELOG.md
node_modules
LICENSE